project:
  type: website
  output-dir: docs
  
execute:
  freeze: auto
  
website:
  title: "Code Library"
  page-navigation: true
  back-to-top-navigation: true
  
  navbar:
    search: true
    logo: /graphics/EARN_logo_primary.png
    collapse: true
  
    right: 
      - icon: fab fa-github
        href: https://github.com/Economic/earn_code_library
        
#make sure all .qmd files are listed somewhere below

  sidebar: 
    style: 'docked'
    search: true
    collapse-level: 1
    contents:

    - text: "About"
      href: index.qmd

    - section: "Learn R"
      contents:
      
      - section: "Tutorials"
        contents:
        - intro_to_r.qmd
        - epi_extracts_webinar.qmd
        - foraging_for_data.qmd
        - viz_workshop.qmd
        - benchmarking_workshop.qmd
        - prev_bootcamps.qmd
      
      - text: "Other Resources"
        href: resources.qmd
        
    - section: "Code Packages"
      contents:
      - text: "R Packages"
        href: epi_libraries.qmd      
      - text: "Stata packages"
        href: stata_binipolate.qmd
      
    - section: "R code"
      contents: 
      - tidycensus_example.qmd
      - blsR_example.qmd
      - weighted_percentiles.qmd
      - epi_microdata.qmd
      - inflation_adjusting.qmd
      - text: "---"

      
      - section: "Code Repository"
        contents:
        - union_density.qmd
        - foreign_born_stats_ipumsr.qmd
        - rtw_union.qmd
        - union_premium.qmd
        - median_wages_demos.qmd
        - rolling_averages.qmd
        - rtw_definitions.qmd

    - section: "Stata code"
      contents:
      - bin_wage_deciles.qmd
    
format:
  html:
    theme: 
      #website theme includes dark and light modes!
      light: cosmo
      dark: darkly
    css: styles.css
    toc: true

editor: visual

